.min-height{
        min-height: 153px;
        max-height: 153px;
}
.edit-btn-new{
	background-color: #005e9d;
	color: #fff;
}
.edit-btn-new:hover{
	color: #fff !important;
	text-decoration: none;
}
.cancel-btn-new{
	background-color: #005e9d;
	color: #fff;
}
.cancel-btn-new:hover{
	color: #fff !important;
	text-decoration: none;
}
.report_pblm{
	color: #c50c0c;
	font-style: italic;
	cursor: pointer;
}
.report_pblm:hover{
	color: #c50c0c;
}
#message{
	padding: 3px;
}
.btm-padding{
	padding-top: 35px;
}
.btn_mrgn_top{
	margin-top: 11px !important;
}
.home_deal_transform{
	text-transform: uppercase;
}